# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# IDE
.idea/
.vscode/

# Environment Variables
.env

# Logs
*.log
logs/

# Scrapy Output
output/
data/

# System Files
.DS_Store
Thumbs.db